ul.archiv-fields {
    list-style: none;
    padding: 0;
    margin: 0;
}

.archiv-fields__single {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    cursor: move;
    border: 1px solid #d5dadf;
    margin-top: 15px;
    margin-bottom: 15px;
}

.archiv-fields__single .archiv-fields__group:first-child {
    margin-bottom: 10px;
}

.archiv-fields__group label {
    margin-bottom: 3px;
    display: inline-block;
}

.archiv-fields__group-base {
    border-bottom: 1px dotted #d5dadf;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.archiv-info {
    font-style: italic;
}

.archiv-info--warning {
    color: #ff4949;
}
