ul.archiv-fields {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.archiv-fields:before,
.archiv-fields:after {
    display: block;
    content: "";
    width: 1px;
    height: calc(100%);
    position: absolute;
    background-color: #d5dadf;
    top: 0;
}

.archiv-fields:before {
    left: 0;
}

.archiv-fields:after {
    right: 0;
}

.archiv-fields__single {
    padding: 10px;
    background-color: #fff;
    cursor: move;
    border: 1px solid #d5dadf;
    margin-top: 15px;
    margin-bottom: 15px;
}

.archiv-fields__single:not(:first-child) {
    margin-left: 15px;
    margin-right: 15px;
}

.archiv-fields__single.ui-sortable-helper {
    border-color: transparent;
    box-shadow: 0 0 10px #d5dadf;
}

.archiv-fields__single .archiv-fields__group:first-child {
    margin-bottom: 10px;
}

.archiv-fields__group label {
    margin-bottom: 3px;
    display: inline-block;
}

.archiv-fields__group input {
    border-radius: 0;
}

.archiv-fields__group-base {
    border-bottom: 1px dotted #d5dadf;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.archiv-info {
    font-style: italic;
}

.archiv-info--warning {
    color: #ff4949;
}
